.logo {
    padding: 4rem 2rem 3rem;
}   
body {
    font-family: Roboto, sans-serif;
}
h2 {
    font-family: Cabin, sans-serif;
    line-height: 40px;
}
h3 {
    font-style: normal;
    font-size: 14px !important;
    line-height: 16px;
}
h4 {
    font-size: 14px !important;
    line-height: 16px;
}
p {
    font-style: normal;
    font-size: 16px;
    line-height: 19px;
}
/* .btn {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
} */
.places {
    width: 10.2rem;
}