* {
    font-family: Roboto, sans-serif;
}
h4 {
    font-size: 14px;
    line-height: 16px;
}
h2 {
    font-weight: bold;
    font-size: 20px;
    line-height: 40px;
}
p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
}
.logo {
    padding: 4rem 2rem 3rem;
}
.logo img {
    height: 2rem;
}
.slider {
    background-color: #291c60;
    height: 20vh;
}
.btn-yellow {
    background-color: #f9f871;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #291c60;
    border-color: #291c60;
}
.slider {
    background-color: #291c60;
    height: 20vh;
    width: auto;
}
.event-card {
    align-items: center;
}
.event-description {
    margin-left: 1rem;
}
.plate {
    background-color: #291c60;
    height: 5rem;
    width: 7rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

